PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/tripcast_db"
JWT_SECRET=change_me_to_a_long_random_string_minimum_32_chars
JWT_EXPIRES_IN=7d
OWM_API_KEY=get_from_openweathermap.org
OWM_BASE_URL=https://api.openweathermap.org/data/2.5
BCRYPT_ROUNDS=10
